.Filtertext_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40px;
    background-color: #F9F4F1;
    border-radius: 120px;
}

.filtertext_div {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtertext_cancel {
    border-radius: 120px;
    display: flex;
    align-items: center;
    background-color: rgba(231, 224, 224, 0.5);
    margin-right: 10px;
}

.filtertext_cancelicon {
    padding: 1.51px;
    cursor: pointer;
}

.filtertext_header {
    margin: 0px;
    margin-right: 8px;
    font-size: 16px;
    font-family: "neue-light";
}

.filterText_text {
    margin: 0px;
    font-size: 18px;
    color: #161616;
    font-family: "neue-medium";
}