.productsContainer {
    width: 100%;
    margin: 0 auto;
}

.drawer_container, .drawer2_container {
    background-color: #fff;
    padding: 15px 20px;
    min-height: 100vh;
}

@media only screen and (max-width: 22.5em) {
    .drawer_container, .drawer2_container {
        padding: 15px 15px 15px 45px; 
    }
}

@media only screen and (max-width: 22.5em) {
    .drawer2_container, .drawer_container {
        padding-left: 65px;
    }
}

@media only screen and (max-width: 19.375em) {
    .drawer2_container, .drawer_container {
        padding-left: 80px;
    }
}

.filter_container {
    display: none;
}

@media only screen and (max-width: 50em) {
    .filter_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        
    }
}

.drawer_items {
    border-bottom: 1px solid #DDD7D2;
}

.filter_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    width: fit-content;
    min-width: 340px;
    height: 47px;
    border: none;
    border-radius: 4px;
    background-color: #EBFAFF;
    cursor: pointer;
    margin-top: 25px;
}

.filter_button_text {
    font-size: 18px;
    font-family: "neue-medium";
    line-height: 27px;
}

.FilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

@media only screen and (max-width: 50em) {
    .FilterContainer {
        display: none;
    }
}

.filterH1 {
    font-size: 18px;
    font-weight: 500;
    color: #161616;
}

.productsCardDiv {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}