.productsContainer {
    width: 90%;
    margin: 0 auto;
}

.FilterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.filterH1 {
    font-size: 18px;
    font-weight: 500;
    color: #161616;
}

.productsCardDiv {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}