.homeHeaderDiv {
    width: 90%;
    margin: 0 auto;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}

.homeHeader {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 64.375em) {
    .homeHeader {
        width: 60%;
    }
}

@media only screen and (max-width: 55.625em) {
    .homeHeader {
        width: 60%;
    }
}

.homeHeaderText {
    font-size: 42px;
    font-family: "pts";
    font-weight: 400;
    color: #161616;
}

@media only screen and (max-width: 64.375em) {
    .homeHeaderText {
        font-size: 35px;
    }
}

@media only screen and (max-width: 55.625em) {
    .homeHeaderText {
        font-size: 28px;
    }
}

@media only screen and (max-width: 45.625em) {
    .homeHeaderText {
        font-size: 24px;
    }
}

.homeimgDiv {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 55px;
    position: relative;
}

.homeImg {
    width: 100%;
    object-fit: contain;
}

.narrow1Div {
    background-color: #ffff;
    border-radius: 120px;
    position: absolute;
    bottom: 32px;
    right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 68.75em) { 
    .narrow1Div {
        right: 68px;
        bottom: 17px;
    }
}

.narrow {
    padding: 16px 19px;
    cursor: pointer;
}

@media only screen and (max-width: 56.25em) { 
    .narrow {
        padding: 13px 16px;
    }
}

@media only screen and (max-width: 37.5em) { 
    .narrow {
        padding: 10px 13px;
    }
}

.narrow2Div {
    background-color: #ffff;
    border-radius: 120px;
    position: absolute;
    bottom: 32px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 68.75em) { 
    .narrow2Div {
        right: 16px;
        bottom: 17px;
    }
}

.homeImgTextDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

@media only screen and (max-width: 68.75em) {
    .homeImgTextDiv {
        bottom: 15px;
        left: 16px;
    }
}

@media only screen and (max-width: 43.75em) {
    .homeImgTextDiv {
        bottom: 10px;
        left: 13px;
    }
}

@media only screen and (max-width: 21.875em) { 
    .homeImgTextDiv {
        bottom: 5px;
    }
}

.homeImgText1 {
    font-size: 42px;
    color: #ffff;
    font-family: 'pts';
    font-weight: 400;
}

@media only screen and (max-width: 43.75em) { 
    .homeImgText1 {
        font-size: 28px;
    }
}

.homeImgText2 {
    font-size: 28px;
    font-weight: 400;
    font-family: 'pts';
    color: #ffff;
    margin-top: 25px;
}

@media only screen and (max-width: 43.75em) { 
    .homeImgText2 {
        font-size: 22px;
        margin-top: 15px;
    }
}

.homeFormDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}
